Microservicio-Contactos_1.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
  <doc xml:lang="en" title="Microservicio-Contactos">Ejemplo de Microservicio utilizando la base de datos **mongodb**.</doc>
  <resources base="http://JAVIER-LAPTOP:8089/">
    <resource path="api/contactos" id="/api/contactos">
      <doc xml:lang="en" title="/api/contactos"/>
      <method name="GET" id="getAllUsingGET">
        <doc xml:lang="en" title="getAllUsingGET">Listar todos</doc>
        <request>
          <param name="_page" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="_page Parameter">_page</doc>
          </param>
          <param name="_rows" default="5" type="xs:string" required="false" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="_rows Parameter">_rows</doc>
          </param>
          <param name="_sort" type="xs:string" required="false" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="_sort Parameter">_sort</doc>
          </param>
        </request>
        <response status="200">
          <representation mediaType="*/*"/>
          <representation mediaType="application/json"/>
          <representation mediaType="text/html; charset=iso-8859-1"/>
        </response>
        <response status="401">
          <representation mediaType="*/*"/>
        </response>
        <response status="403">
          <representation mediaType="*/*"/>
        </response>
        <response status="404">
          <representation mediaType="*/*"/>
          <representation mediaType=""/>
        </response>
        <response status="406">
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
          <representation mediaType=""/>
        </response>
      </method>
      <method name="POST" id="addUsingPOST">
        <doc xml:lang="en" title="addUsingPOST">add</doc>
        <request>
          <representation mediaType="application/json"/>
        </request>
        <response status="201">
          <representation mediaType="*/*"/>
          <representation mediaType=""/>
          <representation mediaType=""/>
        </response>
        <response status="401">
          <representation mediaType="*/*"/>
        </response>
        <response status="403">
          <representation mediaType="*/*"/>
        </response>
        <response status="404">
          <representation mediaType="*/*"/>
        </response>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="400">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
    <resource path="api/contactos/{id}" id="/api/contactos/{id}">
      <doc xml:lang="en" title="/api/contactos/{id}"/>
      <method name="GET" id="getOneUsingGET">
        <doc xml:lang="en" title="getOneUsingGET">getOne</doc>
        <request>
          <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="id Parameter">id</doc>
          </param>
        </request>
        <response status="200">
          <representation mediaType="*/*"/>
          <representation mediaType="application/json"/>
        </response>
        <response status="401">
          <representation mediaType="*/*"/>
        </response>
        <response status="403">
          <representation mediaType="*/*"/>
        </response>
        <response status="404">
          <representation mediaType="*/*"/>
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="PUT" id="modifyUsingPUT">
        <doc xml:lang="en" title="modifyUsingPUT">modify</doc>
        <request>
          <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="id Parameter">id</doc>
          </param>
          <representation mediaType="application/json"/>
        </request>
        <response status="200">
          <representation mediaType="*/*"/>
          <representation mediaType="application/json"/>
        </response>
        <response status="201">
          <representation mediaType="*/*"/>
        </response>
        <response status="401">
          <representation mediaType="*/*"/>
        </response>
        <response status="403">
          <representation mediaType="*/*"/>
        </response>
        <response status="404">
          <representation mediaType="*/*"/>
        </response>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
        <response status="400 404">
          <representation mediaType="application/json"/>
        </response>
      </method>
      <method name="DELETE" id="deleteUsingDELETE">
        <doc xml:lang="en" title="deleteUsingDELETE">delete</doc>
        <request>
          <param name="id" type="xs:string" required="true" default="" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <doc xml:lang="en" title="id Parameter">id</doc>
          </param>
          <representation mediaType="application/json"/>
        </request>
        <response status="204">
          <representation mediaType="*/*"/>
          <representation mediaType=""/>
          <representation mediaType=""/>
        </response>
        <response status="401">
          <representation mediaType="*/*"/>
        </response>
        <response status="403">
          <representation mediaType="*/*"/>
        </response>
        <response status="">
          <representation mediaType="application/json"/>
        </response>
      </method>
    </resource>
  </resources>
</application>